.fiona_button {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    color: #616161;
    font-weight: bold;
    background-color: #dddddd;
    border-left-color:  #dddddd; 
    border-left-style: solid;
    border-right-color:  #dddddd;
    border-right-style: solid;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 3px 3px 0px;

    cursor: pointer;
    
    display: block;
    height: 30px;
    margin-top: -50px;
    min-width: 120px;
    position: fixed;
    right: 16px;
    top: 40%;
    z-index: 100000;
}